* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* font-family: "Roboto", sans-serif; */
}

.Topline {
  width: 100%;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  background-color: #60267f;
  font-family: "DM Sans", sans-serif;
}
.Learnmore {
  border-bottom: 2px solid white;
}

.menukonteineris {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px 30px;
  box-shadow: 0px 3px 12px 0px rgba(0, 0, 0, 0.35);
  -webkit-box-shadow: 0px 3px 12px 0px rgba(0, 0, 0, 0.35);
  -moz-box-shadow: 0px 3px 12px 0px rgba(0, 0, 0, 0.35);
}
.logoimg {
  width: px;
}
.topnavkonteineris {
  display: flex;
  justify-content: center;
  align-items: center;
}
.topulkonteineris {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 40px;
  margin-right: 30px;
}
.topulkonteineris li {
  list-style: none;
}
.topulkonteineris li a {
  text-decoration: none;
  font-family: "Roboto", sans-serif;
  font-weight: 600;
  color: #2b0236;
}
.btnrequestdemo {
  padding: 10px 25px;
  background-color: transparent;
  border-radius: 5px;
  border: 2px solid #9a54bc;
  color: #9a54bc;
  font-size: 16px;
}
.btnrequestdemo:hover {
  background-color: #9a54bc;
  color: white;
}
.mainkonteineris1 {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
  margin-top: 50px;
  /* background-color: #9a54bc; */
  padding: 30px 20px;
  gap: 50px;
}
.tophead {
  font-size: 36px;
  text-align: center;
  /* width: 80%; */
  color: #2b0236;
}
.topheadbtn {
  padding: 15px 25px;
  background-color: #9a54bc;
  color: white;
  border-radius: 5px;
  border: 2px solid #9a54bc;
}
.topheadbtn:hover {
  background-color: transparent;
  color: #9a54bc;
  cursor: pointer;
}

.mainkonteineris2 {
  margin-top: 250px;
}

.allelipsewithbutton {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  
}

.allelipsewithbutton img {
  position: absolute;
}

.smallelipse {
  top: -160px;
}

.rectangle {
  top: -150px;
}

.collab {
  top: -45px;
}

.elipsebutton {
  position: absolute;
  bottom: -140px;
  padding: 5px 15px;
  border: none;
  border: 2px solid #9a54bc;
  background-color: white;
  border-radius: 5px;
  color: #9a54bc;
}
.fiveiconscontainer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 300px;
  gap: 50px;
  
}
.fiveiconscontainer h2 {
  font-size: 36px;

}

.fiveiconscontainer2 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 50%;
}

.fiveiconscontainer2 img {
width: 100px;
}

.howhelpcontainer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 150px;
  gap: 50px;

}
.paraphonecontainer {
  display: flex;
  justify-content: space-between;
}

.paracontainer {
  width: 50%;
}

.howhelpbuttons {

width: 100%;
background-color: white;
border: none;
border-radius: 5px;
display: flex;
justify-content: center;
align-items: center;
height: 35px;
gap: 5px;
padding: 0 2px 0 2px;
box-shadow: 0px 4px 10px 0px rgba(0,0,0,0.72);
-webkit-box-shadow: 0px 4px 10px 0px rgba(0,0,0,0.72);
-moz-box-shadow: 0px 4px 10px 0px rgba(0,0,0,0.72);
}

.howhelpbuttons button {
  width: 50%;
  padding: 6px 0px 6px 0px;
  border: none;
  background-color: transparent;
}

.vendorappbtn:hover {
  background-color: #60267F;
  border: #9A54BC 2px solid;
  border-radius: 3px;
  color: white;
  cursor: pointer;
}
.supervisionbtn:hover {
  background-color: #60267F;
  border: #9A54BC 2px solid;
  border-radius: 3px;
  color: white;
  cursor: pointer;
}

.alltextcontainer {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
  height: 80%;
  margin-top: 30px;
  gap: 10px;
}

.textbox {
  background-color: #F2F2F2;
  width: 70%;
  padding: 20px 50px;
  font-weight: 600px;
  font-size: 10px;
}

.imgcontainer img {
  width: 200px;
  margin-left: 120px;
}

.imgcontainer {
  width: 50%;

}